@import "src/variable.scss";

.product-single-div {width: 100%; float: left;}
.Main_bottlesection_product {width: 100%; float: left; margin-bottom: 30px; height: 295px; background: #fff; border-radius: 10px;}
.product-image-div {height: 170px; text-align: center; padding: 15px; position: relative; border-radius: 10px 10px 0 0; transition: .3s ease-in-out; width: 100%; float: left;}
.sale-tag-new {
    position: relative;
    img {
      position: absolute;
      right: -15px;
      top: -15px;
      border-top-right-radius: 10px;
      width: 55px;
     }
    }
.div-favourite {position: absolute; left: 15px; top: 15px; width: 32px; z-index: 3;}
.fav-new.fav {max-width: inherit; cursor: pointer; pointer-events: all; width: 32px;}
.product-image-sub {width: 100%; float: left; position: relative;}
.product-image-sub img {width: 65px; height: 135px; display: table; margin: 0 auto !important; float: none;}
.second_content_product.second_content {min-height: inherit; text-align: left; padding: 2px 15px 15px; height: 125px; border-radius: 0 0 5px 5px; cursor: pointer; position: relative;
    float: left !important; width: 100%;}
.second_content_product.second_content h5 {height: 48px; text-transform: capitalize; text-align: left; padding: 0; margin: 0 auto; font-size: 18px; line-height: 22px;
    white-space: normal; overflow-x: auto; text-overflow: inherit;}
.text-concat-new {position: relative; word-wrap: break-word; overflow: hidden; max-height: 50px; line-height: 1.2em;}
.price-cart-div {width: 100%; float: left; margin-top: 6px;}
.price-cart-div-sub {padding-right: 40px; width: 100%; float: left; font-family: $montserrat-regular; font-size: 1.3em; font-stretch: normal;
    letter-spacing: normal; text-align: left; line-height: normal;}
.strike_text_new {text-decoration: line-through;  color: $common-font-color; float: left; padding-right: 15px; width: auto;}
.price_new {font-weight: 700; color: $second-color; width: auto; float: left;}
.page-product {pointer-events: all; cursor: pointer; width: 100%; float: left; color: $common-font-color;}
.producttitle {word-break: break-word; margin-bottom: 2px;}
.cart {position: absolute; right: 15px; bottom: 27px; z-index: 3;}
.product_size {min-height: 18px;}

@media only screen and (max-width: 767px) {
    .col-xs-6.staffpicks-product-div {padding: 0 8px;}
}