
<div class="common-margin-top">
  <div class="page-padding-bg">
   <div class="container-new container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="Searchrelated_noborder"><h5>{{responseData?.StaffPicksTitle}}</h5></div>
     </div>
     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
     <div class="page-navigation">
     <ngb-pagination [collectionSize]="responseData?.TotalCount" (pageChange)="onPageChange($event)" [(page)]="page" [pageSize]="selectedPageSize" 
              [maxSize]="2" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
     </div>
    <div class="select_box">
              <select #selectedvalue class="selectBox" [(ngModel)]="selectedPageSize" (change)="onPageSizeChange()">
                  <option>Page Size</option>
                  <option *ngFor="let size of PageSize">
                    {{size}}
                  </option>
              </select>
    </div>
    </div>
    </div>
   <div class="specific-page-products">
    <div class="row row-alt">
      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 staffpicks-product-div" *ngFor="let product of productsList">
          <app-product [item]="product"></app-product>
      </div>
    </div>
   </div>
  </div>
 </div>
</div>
