@import "~src/variable.scss";
.holds-the-iframe {
    background:url(../../../../../assets/Images/loader.gif) center center no-repeat;
  }
.new-payment-method-section {
    width: 100%; float: left;
}
.payment-iframe {float: left; padding: 0px; margin: 0px; width: 100%; max-width: 430px; border: 0;}
.divMainForm {float: left !important;}