@import "~src/variable.scss";

.Search_div {
    margin: 15px 0px 40px 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0px;
    overflow: hidden;
}

.Search_div h4{
    width: 50%;
    //height: 27px;
    padding-left: 12px;
    border: none;
    float: left;
    font-size: 15px;
    font-weight: bold;
    font-size: 21px;
    color: #333;
    margin: 17px 0 20px 0;
}

.Searchrelated_div {
    margin: 15px 0px 10px 0;
    border-radius: 0px;
    overflow: hidden;   
}

.Searchrelated_div h5 {
    width: 50%;
    height: 21px;
    border: none;
    float: left;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding-top: 3px;
    line-height: 21px;
}

.recipe-details-main {width: 100%; float: left; margin-top: 20px;}
.details_content ul h4.ingredients {
    font-size: $common-font-size;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: left;
    color: #191919;
}
.instruction_text{
    font-family: $poppins-regular !important;
    font-size: 14px !important;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: 0.4px;
    text-align: justify;
    color: #444444;
}

p{
    font-family: $poppins-regular !important;
    font-size: 14px;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: 0.4px;
    text-align: justify;
    color: #444444;
}

.details_content ul li.IngredientText ul li{
    font-family:$montserrat-bold !important;
    font-size: 14.4px;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 0.4px;
    text-align: justify;
    color: #262628 !important;
}


.details_img {width: 100%; float: left;}
.details_img img {width: 100%;}
.details_content ul {
    padding-left: 0;
}
.details_content ul li{
    list-style-type: none;
    padding: 5px;
}
.details_content ul li ul li::before{
    content: '\f061';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
    color: $lukas-color;
}
.details_content h4.recipe_name {
    font-family: poppinssemibold;
    font-size: 26px;
    font-stretch: normal;
    text-align: left;
    color: #232323;
    margin: 0;
}

.no-b-border {
    border-bottom: 0px solid transparent;
    margin-bottom: 0px;
}

.details_content.col-md-4.col-sm-4.col-lg-4.col-xs-12.animated.fadeInRight {
    font-family: $poppins-regular;
}

p {
    font-size: 14px;
    font-family: $poppins-regular;
}
.recipe-details-img {width: 100%; float: left;}
.recipe-details-img img {
    width: 100%;    
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 12px;
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
    .details_content h4.recipe_name {font-size: 22px;}
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .details_content h4.recipe_name {font-size: 20px;}
}

@media screen and (max-width: 767px) {
    .details_content {margin-top: 20px;}
    .Searchrelated_div {margin: 0;}
    .details_content h4.recipe_name {font-size: 18px;}
}