<div class="common-margin-top">
  <div class="page-margin-alt">
   <div class="container-new container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="Searchrelated_noborder Searchrelated_noborder_new">
          <h4 class="align-center">Events</h4>        
        </div>        
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
       <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
        <li class="breadcrumb-item">Events</li>
       </ol>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">        
          <div class="event-tiles" *ngFor="let event of storeGetHomeData?.PromotionList">
            <div class="row">
            <div class="details_img col-md-6 col-sm-6 col-lg-7 col-xs-12 animated fadeInLeft">
              <a (click)="onEventClick(event)">
                <img src='{{event?.Url}}' class="img-responsive" alt="EventImage" />
              </a>
            </div>

            <div class="details_content col-md-6 col-sm-6 col-lg-5 col-xs-12 animated fadeInRight">
                <div class="event-details-section">
                  <div class="detailed-events-section">
                    <div class="bottle-caps-red event-details-date text-center">
                      <div class="date-style">
                        
                      </div>
                      <br><strong></strong>
                    </div>
                    <h6 class="event-details-heading">{{event?.Title}}</h6>
                  </div>
                </div>

              <div class="event-details-section">
                <ul class="event-details-result">
                  <li *ngIf="event?.PromotionTypeId === 1"><span class="fa fa-dollar bottle-caps-red event-icon"></span> <span class="event-para">{{event?.EventPrice
                      !== 0 ? event?.Event.EventPrice : "FREE"}}</span>
                  </li>
                  <li> <span class="fa fa-history bottle-caps-red event-icon"></span>
                    <span class="event-para">{{event?.EventStartDt}}-{{event?.EventEndDt}}
                      <br> {{event?.EventStartTime}}-{{event?.EventEndTime}}</span>
                    <span class="pull-right">
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   </div>
 </div>
</div>
