<div class="common-margin-top">
  <div class="page-margin">
   <div class="container-new container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
      <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
      <li class="breadcrumb-item">FAQ</li>
      </ol>
      </div>
     </div>
     <div class="aboutus-content"> 
      <p><b>What is the legal requirement to purchase alcohol?</b><br>

        You must be at least <b>21</b> years of age to order alcohol, and a signature is required for delivery/pickup. The customer is responsible for the purchase of alcohol and for any taxes that may be applicable. You must also show a valid government issued ID at the time of pickup/delivery.
        </p>
        <p><b>Can I cancel an order?</b><br>

          You can cancel an order from the App or Website by going to the Orders tab on the app or by clicking on "My Orders" under the account page on the website. Once you select an order you will have the option to cancel it if it is not already processed by the store. If you do not see the cancel option, you can contact the store and see if they are able to cancel it if it is not already packed or dispatched for delivery. A restocking fee may apply for canceled orders.
          </p>
        <p><b>Return Policy?</b><br>

          All sales are final and there are no returns or exchanges allowed. If there is an issue with a product, please contact the store.</p>
          
        <p><b>Check Order Status?</b>
          
          You can check the status of the order on the app or website by going to the Orders tab on the app or by clicking on "My Orders" under the account page.</p>
          
          
        <p><b>How many attempts do you make to deliver?</b><br>
          
          The courier/delivery driver will take the products back to the store if you are unavailable. Items may or may not be held for pickup. Please call the store for more information.</p>
          
          <p><b>Is signature required upon pickup/delivery?</b><br>
          
          YES, you must sign for an order when it is being picked up/delivered, and show a valid government issued ID.</p>
          
        <p><b>What happens if an item I purchased online is not in stock?</b><br>  
          
          In case we are out of a product from your order, we will try to contact you to offer a substitution if possible. If we are unsuccessful in contacting you, we will refund part of an order, or the entire order.</p>
        <p><b> Can I add items to an existing order?</b><br> 
          
          No, orders cannot be edited online once it is placed. Please contact us to see how we can help.</p>
          
        <p><b> Is the website secure?</b><br> 
          
          Payments are handled by companies that adhere to strict industry standards for payment processing, including SSL technology for secure online transactions.</p>
          
          <p><b> Do you ship or deliver to a PO Box?</b><br> 
          
          No, products cannot be delivered to an APO, FPO, or a PO Box</p> 
          
        <p><b> Is there a minimum amount for delivery/pickup?</b><br> 
          
          The requirements for in-store pickup and delivery may change. The checkout page will display the requirements to place an order. The checkout button will be grayed out until all requirements are met.</p>
          
        <p><b> I do not see a specific Beer, Wine or Liquor I would like to purchase, can I make a special order?</b><br> 
          
          If you do not see a product that you are looking for, please contact the store.</p> 
          
        <p><b> I cannot checkout, error saying complete My Account.</b><br> 
          If you get an error when checking out, tap on the Letter at the top of the page next to the search bar and go to My Account. Select Edit Details and make sure all your contact information and date of birth are entered, then be sure to save. Go back to your cart and you should be able to check out now.</p>
          
        <p><b>What if I am not satisfied with my order?</b><br>
          
          Please reach out to us and we will do our best to make it right!</p> 
          
        <p><b> Where do you ship to?</b><br>
          We ship to states that allow alcohol/wine direct to consumer. Due to varying state regulations, many states prohibit the shipment of alcohol from another state.  As permits get established in those states, we will start offering shipping. Please visit this link to get more information: <a href="https://www.ncsl.org/research/financial-services-and-commerce/direct-shipment-of-alcohol-state-statutes.aspx" target="_blank">https://www.ncsl.org/research/financial-services-and-commerce/direct-shipment-of-alcohol-state-statutes.aspx</a></p>
     </div>
  </div>
</div>
</div>