<div class="common-margin-top">
  <div class="page-margin">
  <div class="container-new container">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="Searchrelated_noborder Searchrelated_noborder_new">
        <h4 class="align-center">Event Details</h4>        
      </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">      
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
        <li class="breadcrumb-item">Event Details</li>
      </ol>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="event-tiles">
        <div class="row">
              <div class="details_img col-md-6 col-sm-6 col-lg-7 col-xs-12 animated fadeInLeft">
                <img src='{{eventDetails?.EventImage}}' class="img-responsive" alt="EventImage" />
              </div>

              <div class="details_content col-md-6 col-sm-6 col-lg-5 col-xs-12 animated fadeInRight">
                  <div class="event-details-section">
                    <div class="event-details-date">
                          <div class="date-style">{{eventDetails?.EventDateDisplayFirst}}</div>
                          <strong>{{eventDetails?.EventDateDisplaySecond}}</strong>                        
                    </div>
                    <h6 class="event-details-heading">{{eventDetails?.EventName}}</h6>
                  </div>
                 
                <div class="event-details-section">
                  <ul class="event-details-result">
                    <li class="IngredientText"> <span class="fa fa-dollar bottle-caps-red event-icon"></span> <span class="event-para">{{eventDetails?.EventPrice !== 0 ? eventDetails?.EventPriceDisplay : "FREE"}}</span>
                    </li>
                    <li class="IngredientText"> <span class="fa fa-history bottle-caps-red event-icon"></span> <span class="event-para">{{eventDetails?.EventStartEndDateDisplay}}
                        <br>{{eventDetails?.EventStartEndTimeDisplay}}</span>
                    </li>
                    <li class="IngredientText"> <span class="fa fa-map-marker bottle-caps-red event-icon"></span> <span class="event-para">{{eventDetails?.Address1}}
                        <br>{{eventDetails?.City}}, {{eventDetails?.State}} {{eventDetails?.Zip}}</span>
                        <span class="pull-right">
                          <a href="https://www.google.com/maps/dir//{{eventDetails?.StoreLatitude}},{{eventDetails?.StoreLongitude}}/data=!4m2!4m1!3e0"
                            target="_blank">
                            <!-- <img src="../assets/Images/navigate-png.png"> -->
                            <i class="icon icon-navigate"></i>
                          </a>
                        </span>
                    </li>
                  </ul>
                </div>
              </div>
        </div>
      </div>
    </div>

    <div class=" col-md-12 col-sm-12 col-lg-12 col-xs-12">
          <div class="Searchrelated_div_events">
            <h6>Description</h6>
          </div>
          <div class="instruction_text" [innerHTML]="eventDetails?.EventDescription"></div>
    </div>
   </div>
  </div>
 </div>
</div>