@import "~src/variable.scss";

.Search_div {
    padding-bottom: 10px;
}

.event-tiles {
    background-color: #fff;
    border: solid 1px #ccc;
    padding: 15px;
    width: 100%;
    float: left;
    margin: 20px 0;
}

.Search_div h4{
    width: 50%;
    height: 27px;
    padding-left: 12px;
    border: none;
    float: left;
    border-left: 5px solid $lukas-color;
    font-size: 21px;
    font-weight: bold;
    color: #333;
    line-height: 30px;
}

.Searchrelated_div_events {
    margin: 0;
    padding-bottom: 10px;  
    width: 100%;
    float: left;
}

.Searchrelated_div h4 {
    width: 100%;
    float: left;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    line-height: 21px;   
}


.details_content ul h4.ingredients{
    border-left: 5px solid $lukas-color;
    padding-left: 10px;
    font-family: Montserrat !important;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: left;
    color: #c2c4ca;
}
.instruction_text {
    font-family: $poppins-regular !important;
    font-size: 14px;
    width: 100%;
    float: left;
}

.details_content ul li.IngredientText ul li{
    font-family:$montserrat-bold !important;
    font-size: 14.4px;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: 0.4px;
    text-align: justify;
    color: #262628 !important;
}

.details_img{
    border-right: 1px solid #d7d7d7;
    /*padding: 0px 0;*/
}
.details_img img{
    margin: 0 auto;
    display: block;
}

.details_content ul.event-details-result {
    padding-left: 0;
    width: 100%;
    float: left;
}

.details_content ul.event-details-result li {
    list-style-type: none;
    width: 100%;
    float: left;
    margin: 15px 0 0;
}

.details_content ul li ul li::before {
    content: '\f061';
  font-family: 'FontAwesome';
  float: left;
  margin-left: -1.5em;
    color: $lukas-color;
}
.details_content h4.recipe_name{
    font-family: $montserrat-regular;
    font-size: 26.4px;
    font-stretch: normal;
    line-height: 2.07;
    letter-spacing: -0.5px;
    text-align: left;
    color: #232323;
}


.bottle-caps-red {
    color: $lukas-color;
}

.event-details-section {
    position: relative;
    width: 100%;
    float: left;
}

.event-details-date {
    font-family: $poppins-regular;
    width: 70px;
    display: inline-block;
    vertical-align: middle;
    float: none;
    text-align: center;
}

.event-details-date strong {
    text-align: center;
    font-size: 28px;
    color: #232323;
    margin: 0px;
    padding: 0px;
    font-family: $poppins-regular;
    float: left;
    width: 100%;
    line-height: 33px;
}

.event-details-date .date-style {
    margin: 0px;
    padding: 0px;
    color: #ea1c2d;
    font-size: 14px;
    float: left;
    font-family: $poppins-regular;
    width: 100%;
    line-height: 12px;
}

.event-details-heading {
    font-size: 20px;
    font-family: $montserrat-bold !important;
    display: inline-block;
    vertical-align: middle;
    float: none;
    width: calc(100% - 74px);
    margin: 0;
}

.no-b-border {
    border-bottom: 0px solid transparent;
}

.detailed-events-section {
    width: 100%;
}

.event-icon {
    font-size: 28px;
    width: 70px;
    text-align: center;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.event-para {
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    font-family: $poppins-regular;
    float: none;
    padding-right: 30px;
}

.event-para-location {display: inline-block; vertical-align: middle; float: none;}

.btn-container button.btn {
    margin-top: 25px;
    width: 130px;
    text-align: center;
    outline: none;
    background-color: $lukas-color;
    color: #fff;
    border-color: $lukas-color;
    margin-right: 8px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px 0 rgba(236, 28, 36, 0.3);
    &:hover, &:focus {
        width: 130px;
        text-align: center;
        outline: none;
        background-color: $lukas-color;
        color: #fff;
        border-color: $lukas-color;
        border-radius: 5px;
        box-shadow: 0px 10px 20px 0 rgba(236, 28, 36, 0.3);
    }
}
p {
    font-family: $poppins-regular;
    font-size: 14px;
}

/*M Events Details*/

.details_content a i.icon.icon-navigate {
        color: #ccc;
        font-family: $montserrat-regular;
        font-size: 26px;
    &:hover {
        color: $lukas-color;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .event-details-date {width: 60px;}
    .event-details-heading {width: calc(100% - 64px);}
}
    
@media screen and (max-width: 767px) {
    .details_content {margin-top: 30px;}
}