@import "~src/variable.scss";

.modal-header {
  border-bottom: none;
  background: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0;
}
.modal-title {text-align: center;}
.popup-logo {width: auto; max-width: 200px; margin: 0 auto; display: table;}
.modal.store-picker-container {padding-right: 0 !important;}
.store-block {width: 100%; float: left;}
.modal-content {
  box-shadow: none !important;
  border:none !important;  
  background: none !important;
  .modal-footer{ background: #fff !important;}
  button.skip{ background: #fff !important; border:none !important; box-shadow: none !important; color: #777;}
  button.skip:hover{background: #fff !important;}
  .modal-body {
    padding: 20px;
    border: 1px solid rgba(0,0,0,.1) !important;
    background: #fff !important;
    height: 350px;
    overflow-y: auto;
    h3 {
      font-size: $common-font-size;
      margin-top: 0;
    }
    small {
      font-family: poppinsregular;
      color: #9d9d9d;
      a {
        color: #999;
        margin-left: 5px;
        &:hover {
          color: $lukas-color;
        }
      }
    }
    .store-block {
      padding: 15px 0;
      border-bottom: solid 1px #dbdcdd;
    }
    .store-block:nth-last-child(1) {
      border-bottom: none;
    }
    .empty {text-align: center; padding: 15px 0; width: 100%; float: left;}
    .empty img{ width: 100%; height: auto; max-width: 60%; margin-bottom: 15px;}
  }
  .mbottom15 {
    margin-bottom: 15px;
  }
  .icon.icon-search {font-size: 14px; color: #333; position: relative; top: -2px;}
  .icon.icon-location-picker {font-size: 15px;}
  .store-select-btn {width: 120px; display: inline-block; vertical-align: middle; float: none;}
  .store-select-btn-table {width: auto; float: right;}
  .store-block-sub {width: calc(100% - 124px); display: inline-block; vertical-align: middle; float: none;}
  .img-store-main {width: 100px; display: inline-block; vertical-align: middle; float: none; position: relative;}
  .store-details {width: calc(100% - 104px); padding-left: 15px; display: inline-block; vertical-align: middle; float: none;}
  .store-img-div {width: 100%; float: left; border: 1px solid #f4f4f4; padding: 6px; border-radius: 4px !important;}
  .img-store img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: solid 1px #f4f4f4;
    padding: 10px 5px;
    border-radius: 4px !important;
  }
  .input-group .form-control {
    width: 100%;
    border-right: transparent;
    border-left: transparent;
    padding: 6px 10px 5px 2px;
    font-family: poppinsregular !important;
    box-shadow: none;
    height: 36px;
    font-size: 12px;
    input.form-control {
      font-family: poppinsregular !important;
    }
  }
  .form-control:focus{ outline-color: white !important;}
  .input-group-addon {
    background-color: #fff !important;
    padding: 5px 8px;
    font-size: 18px;
    color: #777;
  }
}

.fade {
  background: rgba(249,251,252,1) !important;
}
.fade1 {
  background: rgba(249,251,252,1) !important;

}
.fade2 {
  background: rgba(56, 56, 56, 0.3) !important;
}
.fa-map-marker-store.fa-map-marker {
  color: #333;
  font-size: 18px;
  margin-right: 5px;
}
.filer_go {
  background: $lukas-color;
  padding: 6px 12px;
  box-shadow: none !important;
  color: #fff !important;
  font-size: $common-font-size;
  width: 110px;
}

.modal-footer .btn {
  background: #e80a1c !important;
  color: #fff;
  box-shadow: 4px 10px 19px -4px rgba(236, 28, 28, 0.5);
  font-size: 0.8em;
  padding: 10px 25px;
}
.modal-footer {
  text-align: center;
  border-top: none !important;
  padding-bottom: 30px;
  padding-top: 20px;
}

.filer_go.success {
  background: #07c11d; cursor: default;
}

.img-store.success {position: absolute; top: -14px; right: -7px;}
.img-store.success i {color: #07c11d; font-size: 23px;}
.modal-open .modal.store-picker-container {padding-right: 0 !important;}
.modal-open .modal.store-picker-container {padding: 0 !important;}


@media screen and (max-width: 767px) and (min-width: 551px) {
  .modal-content .img-store-main {width: 70px; vertical-align: top;}
  .modal-content .modal-body h3 {font-size: $common-font-size;}
  .modal-content .store-details {width: calc(100% - 74px);}
  .filer_go {padding: 3px 8px;}
}

@media screen and (max-width: 550px) {
  .modal-content .img-store-main {width: 55px; vertical-align: top;}
  .modal-content .store-block-sub {width: 100%; display: block; margin-bottom: 10px;}
  .modal-content .store-select-btn {width: auto; display: block; float: right;}
  .modal-content .modal-body {padding: 12px; height: auto;}
  .modal-content .modal-body h3 {font-size: $common-font-size; margin-bottom: 4px;}
  .modal-content .store-details {width: calc(100% - 59px); padding-left: 12px;}
  .filer_go {padding: 3px 8px;}
}
