<div class="social-icons-main">
  <a href="https://www.facebook.com/bottlecappsapp/" target="_blank" title="Facebook" class="btn-social-icon"><span class="fa fa-facebook"></span></a>
  <a href="https://twitter.com/bottlecapps1" target="_blank" title="Twitter" class="btn-social-icon"><span class="fa fa-twitter"></span></a>
  <a href="https://www.instagram.com/bottlecapps1/" target="_blank" title="Instagram" class="btn-social-icon"><span class="fa fa-instagram"></span></a>
  <a class="btn-social-icon" href="" target="_blank" title="yelp"><span class="fa fa-yelp"></span></a>
  <a class="btn-social-icon" href="" target="_blank" title="youtube-play"><span class="fa fa-youtube-play"></span></a>
  <a class="btn-social-icon" href="" target="_blank" title="linkedin"><span class="fa fa-linkedin"></span></a>
</div>