@import "../../../../variable.scss";

.fa-star, a.fa-star {
    color: $write-review !important;
}
.fa-star-half-o, a.fa-star-half-o {
    color: $write-review !important;
}
.rating-icon a i{
    color: #f4b334  !important;
}
span.rating-icon a .fa, .Product_name span.rating-icon a .fa, .myorder-table span.rating-icon a .fa {
    margin-right: 3px;
}
.rating-icon a i{
    font-size: 1.2em !important;
}
.star-rating i{ font-size: 2em !important; color: #f4b334  !important; margin-top: 10px !important; }
.star-rating span {color: #f4b334 !important; font-size: 1.2em !important; font-weight: 600;}

@media screen and (max-width: 1199px) and (min-width: 992px) {
    .star-rating i {font-size: 1.5em !important;}
    .star-rating span {font-size: 1em !important;}

}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .star-rating i {font-size: 1.4em !important;}
    .star-rating span {font-size: 1em !important;}
}

@media screen and (max-width: 767px) {
    .star-rating i {font-size: 1.2em !important;}
    .star-rating span {font-size: 0.8em !important;}
    .rating-icon a i {font-size: 0.9em !important;}
}

@media screen and (min-width:320px) and (max-width:768px){
    .star-rating {margin: 0px !important; display: inline-block; width: 100%;}
    /* .star-rating i{ font-size: 1.15em !important; } */
    /* .star-rating span{ font-size: 0.95em !important;}  */
    .rating-icon{
        float: none !important;
    }
 	span.rating-icon {
            margin-left: 0px !important;
            float: left;
        }
        span.rating-icon a {
                margin-top: 19px !important;
            }
        small.review-caption {
            float: right;
        }
}

