$lukas-color: #0e2459;
$second-color: #0e2459;
$common-font-color: #3a3a3a;
$menu-font-size: 16px;
$poppins-regular: PTSansNormal;
$montserrat-bold: MyriadPro-Regular;
$montserrat-regular: PTSansRegular;
$lukas-color-alpha: rgba(255, 255, 255, 1);
$boxshadow-regular: 0 10px 20px 0 rgba(51,51,51,0.52);
$boxshadow-active: 0 10px 20px 0 rgba(225, 28, 48,0.52);
$active-danger: #ea1c2d;
$write-review: #f4c500;
$sans-narrow: PTSansNarrow;
$gotham-book: 'Open Sans';
$gotham-bold: 'Open Sans';
$font-size-common: 16px;
$heading-common-large: 30px;
$heading-common-small: 21px;
$container-common: 95%;
$common-color-alt: #f4b334;
$common-font-size: 16px;